.details-contacts {

    

    .btn  {
        width: 30px;
        margin-left:  10px;
        margin-right: 10px;
        display: inline-block;
    }


    .texto {
        padding-top: 10px;
        float: left
    }

    .botoes {
    
        float: right;
    }

     .botoes p{

        margin-top: 0;
        padding-top: 2px;
        text-align: center;
        width: 30px;
        font-size: 10px;
        margin-left:  10px;
        margin-right: 5px;
        display: inline-block;
    }

    #last {
        margin-right: 20px;
       
    }

     #second {
        padding-left: 8px;
       
    }

    @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 

  ion-item   {

        padding-left: 7px;

    }

     #last {
        margin-right: 17px;
       
    }

     .btn   {
    
        margin-left:  5px;
        margin-right: 5px;
    }

    .botoes p{

         margin-left:  0px;
        margin-right: 4px;
    }

   ion-item  item-inner {

        padding: 0;

    }

    ion-label {
        margin-right: 0;
    }
}


}
