.details-contacts {

    

    .btn {
        width: 30px;
        margin-left:  10px;
        margin-right: 10px;
        display: inline-block;
    }

    .texto {

        float: left
    }

    .botoes {

        float: right;
    }

}
